#number-guess , #result , #history {
    max-width: 400px;
    margin : 0 auto;
}

#history , #result {
    margin-top: 16px;
}

.banner {
    color: #FFD23F;
    font-size: 90px;
    font-size: sans-serif;
}